/* Stylesheet for overriding Bootstrap and Bootswatch stylesheets where necessary */

/* Code adapted from https://stackoverflow.com/a/43058483 to fix scaling issues on iOS devices */
body {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

body:after {
    content: "";
    position: fixed;
    /* stretch a fixed position to the whole screen */
    top: 0;
    height: 100vh;
    /* fix for mobile browser address bar appearing disappearing */
    left: 0;
    right: 0;
    z-index: -2;
    /* needed to keep in the background */
    background: url("../images/librarydark.jpg") center center;
    background-size: cover;
}