/* Stylesheet for overriding Bootstrap and Bootswatch stylesheets where necessary */


/* Code adapted from https://stackoverflow.com/a/43058483 to fix scaling issues on iOS devices */
body {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

body:after {
    content: "";
    position: fixed; /* stretch a fixed position to the whole screen */
    top: 0;
    height: 100vh; /* fix for mobile browser address bar appearing disappearing */
    left: 0;
    right: 0;
    z-index: -2; /* needed to keep in the background */
    background: url("../images/book_glasses.jpg") center center;
    background-size: cover;
}


/* Navigation bar styling */
.navbar {
    padding: 5px;
}

.navbar-brand img {
    height: 30px;
    width: 30px;
}

.navbar-brand-text {
    vertical-align: middle;
    font-size: 16px;
}


/* Padding and margin styling */
.top-pad {
    padding-top: 100px;
    padding-left: 0px;
    padding-right: 0px;
}

.top-margin {
    margin-top: 20px;
}

.bottom-margin {
    margin-bottom: 20px;
}

.no-margin {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.no-border {
    border: none;
}

.border-box {
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}


/* Color management */
.opaque-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index:-1;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.65);
}

.fnt-clr-red {
    color: #ef302f;
}

.fnt-clr-white {
    color: #d0cbcb;
}

.fnt-clr-black {
    color: black;
}

.bg-clr-transparent{
    background-color: #ffffff00;
}

.bg-clr-darkest {
    background-color: #000000a3;
}

.bg-clr-dark-red {
    background-color: #670707;
}


.bg-clr-blue {
    background-color: #074a67cf;
}

.bg-clr-white-no-transition {
    background-color: #ffffffc4;
}

.bg-clr-white {
    background-color: #ffffffc4;
    transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
}

.bg-clr-white:hover {
    background-color: #f5f5f5;
}


.bg-clr-dark {
    background-color: #00000036;
    transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
}

.bg-clr-dark:hover {
    background-color: #00000069;
}

/* Link management */

.no-text-decor:hover {
    text-decoration: none;
}

/* Text and heading styling */

.section-headings {
    font-size: 24px;
}

.category-headings {
    font-size: 20px;
}


/* Form styling */

.form-control{
    height: 45px;
}

.btn-action {
    width: 168px;
    padding: 12px 20px;
    margin: 3px;
}

/* Image styling */
.crd-img {
    max-width: -webkit-fill-available;
    max-height: 200px;
    align-self: center;
    margin: 0px 10px 0px 10px;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    
}

.book-img {
    max-width: 100%;
    max-height: 300px;
    align-self: center;
}

.card-img-top {
    height: 230px;
}

.card {
    min-width: 33%;
}

/* Footer styling */
.footer-position {
    margin-top: auto !important;
}

.readme-link,
.footer-links li a i {
    color: #e45454;
    font-size: 25px;
    text-align: center;
    padding: 0px;
    width: 35px;
    height: 35px;
}


/* Media queries */
@media (min-width:388px) {

    .navbar-brand img {
        height: 40px;
        width: 40px;
    }

    .navbar-brand-text {
        vertical-align: middle;
        font-size: 17.5px;
    }

}

@media (min-width:768px) {
    
    .section-headings {
        font-size: 32px;
    }

}

@media (min-width:992px){
    
    .readme-link,
    .footer-links li a i {
        color: #d0cbcb;
        font-size: 25px;
        text-align: center;
        padding: 5px;
        width: 40px;
        height: 40px;
        transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -webkit-transition: all 0.35s ease-in-out;
    }
    
    .readme-link:hover,
    .footer-links li a i:hover {
        color: #e45454;
    }
}
