{% extends "base.html" %} {% block content %}
<section class="container-fluid"> 
<div class="row justify-content-around">
    <div class="col-10">
        <h1 class="fnt-clr-red">Register User</h1>
        <p>This is the register user page</p>
    </div>
</div>

<div class="row justify-content-around">
    <div class="col-10 bottom-margin">
        <form action="{{ url_for('insert_user') }}" method="POST">
            {{ form.hidden_tag() }}
            <legend>Register as a user</legend>
            <div class="form-group">
                {{ form.fname.label(class="col-form-label") }}
                {{ form.fname(class="form-control", placeholder="Enter your first name...") }}
            </div>
            <div class="form-group">
                {{ form.lname.label(class="col-form-label") }}
                {{ form.lname(class="form-control", placeholder="Enter your surname...") }}
            </div>
            <div class="form-group">
                {{ form.email.label(class="col-form-label") }}
                {{ form.email(class="form-control", placeholder="Enter your email address (jsmith@example.com)...") }}
            </div>
            <div class="form-group">
                {{ form.phone.label(class="col-form-label") }}
                {{ form.phone(class="form-control", placeholder="Enter your phone number...") }}
            </div>
            <div class="form-group">
                {{ form.username.label(class="col-form-label") }}
                {{ form.username(class="form-control", placeholder="Enter your username...") }}
            </div>
            <div class="form-group">
                {{ form.password.label(class="col-form-label") }}
                {{ form.password(class="form-control", placeholder="Enter your password...") }}
            </div>
            <div class="form-group">
                {{ form.confirm_password.label(class="col-form-label") }}
                {{ form.confirm_password(class="form-control", placeholder="Confirm your password...") }}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
    <div class="col-10 text-center bottom-margin">
        <p>
            If you have an existing account... 
        </p>
        
        <a class="btn btn-info" href="{{ url_for('login_user') }}" role="button">Log In Here!</a>
    </div>
</div>
</section>
{% endblock %}
