{% extends "base.html" %} {% block content %}
<section class="container-fluid"> 
    <div class="row justify-content-around">
        <div class="col-10">
            <h1 class="section-headings fnt-clr-red">Register User</h1>
        </div>
    </div>
    
    <!-- Code adapted from Corey Shafer's tutorial found at
        https://www.youtube.com/watch?v=UIJKdCIEXUQ&list=PL-osiE80TeTs4UjLw5MM6OjgkjFeUxCYH&index=3-->
    <div class="row justify-content-around">
        <div class="col-10 bottom-margin bg-clr-darkest border-box">
            <form ction="{{ url_for('add_user') }}" method="POST">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend>Register as a user</legend>
                    <div class="form-group">
                        {{ form.fname.label(class="col-form-label") }}
                       
                        {% if form.fname.errors %}
                            {{ form.fname(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.fname.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.fname(class="form-control", placeholder="Enter your first name...") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.lname.label(class="col-form-label") }}
                        {% if form.lname.errors %}
                            {{ form.lname(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.lname.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.lname(class="form-control", placeholder="Enter your surname...") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.email.label(class="col-form-label") }}
                        {% if form.email.errors %}
                            {{ form.email(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% elif email_error %}
                            {{ form.email(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                <span>{{ email_error }}</span>
                            </div>
                        {% else %}
                            {{ form.email(class="form-control", placeholder="Enter your email address (jsmith@example.com)...") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.username.label(class="col-form-label") }}
                        {% if form.username.errors %}
                            {{ form.username(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.username.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% elif username_error %}
                            {{ form.username(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                <span>{{ username_error }}</span>
                            </div>
                        {% else %}
                            {{ form.username(class="form-control", placeholder="Enter your username...") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.password.label(class="col-form-label") }}
                        {% if form.password.errors %}
                            {{ form.password(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.password(class="form-control", placeholder="Enter your password...") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.confirm_password.label(class="col-form-label") }}
                        {% if form.confirm_password.errors %}
                            {{ form.confirm_password(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.confirm_password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.confirm_password(class="form-control", placeholder="Confirm your password...") }}
                        {% endif %}
                    </div>
                </fieldset>
                <div class="form-group">
                    <button type="submit" class="btn btn-info btn-action">Register</button>
                </div>
            </form>
        </div>
        <div class="col-10 text-center bottom-margin">
            <p>If you have an existing account...</p>
            <a class="btn btn-info" href="{{ url_for('log_user_in') }}" role="button">Log In Here!</a>
        </div>
    </div>
</section>
{% endblock %}
