{% extends "base.html" %} {% block content %}
<section class="container-fluid"> 
    <div class="row justify-content-around bottom-margin">
        <div class="col-10">
            <h1 class="section-headings fnt-clr-red">Books</h1>
        </div>
    </div>
    
    <div class="row justify-content-around">
        <div class="col-10 bottom-margin">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <a class="dropdown-item" href="{{ url_for('get_books', category_id='') }}">All Books</a> 
                        {% for category in categories %}
                            <a class="dropdown-item" href="{{ url_for('get_books', category_id=category._id) }}">{{ category.category_name.title() }}</a> 
                        {% endfor %}
                    </div>
                </div>
                <button type="button" class="btn btn-primary">Category...</button>
            </div>
        </div>
    </div>
    
    <div class="row justify-content-around">
        <div class="col-12 col-md-10">
            <div class="row align-items-top justify-content-around">
                {% if books == {} %}
                <div class="col-12 col-md-10 text-center top-pad">
                    <h1 class="section-headings fnt-clr-red">No books in this category yet</h1>           
                </div>
                {% else %}
                {% for book_id, book_detail in books.items() %}
                    <div class="col-12 col-md-6 col-xl-4 bottom-margin">
                        <a class="no-text-decor" href="{{ url_for('get_book', book_id=books[book_id]['_id']) }}">
                            <div class="card h-100 bg-clr-dark no-border border-box">
                                <div class="card-img-top bg-clr-transparent text-center">
                                    <!-- Error handling on unavailable url for image src adapted from https://blog.imagekit.io/how-to-handle-loading-images-that-may-not-exist-on-your-website-92e6c3c6ea63 -->
                                    <img src="{{ books[book_id]['cover_url'] }}" onerror="this.onerror=null;this.src='{{ url_for('static', filename='images/ubr404.png') }}';" class="crd-img border-box" alt="Image for {{ books[book_id]['title'].title() }}"/>
                                </div>
                                <div class="card-body bg-clr-transparent fnt-clr-black">
                                    <div class="bg-clr-white border-box">
                                        <ul class="list-group list-group-flush bg-clr-transparent">
                                            <li class="list-group-item bg-clr-blue fnt-clr-white"><h4>{{ books[book_id]["title"] }}</h4></li>
                                            <li class="list-group-item bg-clr-transparent"><h6>Author:</h6><h5> {{ books[book_id]["author_fname"].title() }} {{ books[book_id]["author_lname"].title() }}</h5></li>
                                            <li class="list-group-item bg-clr-transparent"><h6>Category:</h6><h5> {{ books[book_id]["category_name"].title() }}</h5></li>
                                            <li class="list-group-item bg-clr-transparent"><h6>Votes:</h6><h5> <i class="fas fa-arrow-alt-circle-up"></i> {{ books[book_id]["up_votes"] }} | <i class="fas fa-arrow-alt-circle-down"></i> {{ books[book_id]["down_votes"] }} </h5></li>
                                            <li class="list-group-item bg-clr-transparent"><h6>Date Added:</h6> <h5> {{ books[book_id]["date_added"] }}</h5></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
