{% extends "base.html" %} {% block content %}
<section class="container-fluid"> 
    <div class="row justify-content-around bottom-margin">
        <div class="col-10">
            <h1 class="section-headings fnt-clr-red">Book Review</h1>
        </div>
    </div>
    
    <div class="row align-items-center justify-content-around bottom-margin">
        <div class="col-10">
            <div class="row align-items-center justify-content-around">
                <div class="col-12 col-md-5 col-lg-4">
                    <div class="card bottom-margin bg-clr-transparent no-border">
                        <img class="book-img border-box" src="{{ book.cover_url }}" alt="Image of {{ book.title.title() }}"></img>
                    </div>
                </div>
                <div class="col-12 col-md-7 col-lg-8">
                    <div class="card bg-clr-dark no-border border-box">
                        <div class="card-body bg-clr-transparent fnt-clr-black">
                            <div class="bg-clr-white border-box">
                                <ul class="list-group list-group-flush bg-clr-transparent">
                                    <li class="list-group-item bg-clr-blue fnt-clr-white"><h3>{{ book.title.title() }}</h3></li>
                                    <li class="list-group-item bg-clr-transparent"><h6>Author: </h6><h4>{{ book.author_fname.title() }} {{ book.author_lname.title() }}</h4></li>
                                    <li class="list-group-item bg-clr-transparent"><h6>Category: </h6><h4>{{ category.category_name.title() }}</h4></li>
                                    <li class="list-group-item bg-clr-transparent"><h6>Added By: </h6><h4>{{ user.username }}</h4></li>
                                    <li class="list-group-item bg-clr-transparent"><h6>Date Added: </h6><h4>{{ book.date_added }}</h4></li>
                                    <li class="list-group-item bg-clr-transparent"><h6>Votes: </h6><h4><a role="button" href="{{ url_for('up_vote', book_id=book._id) }}"><i class="fas fa-arrow-alt-circle-up"></i></a> {{ book.up_votes }} | <a role="button" href="{{ url_for('down_vote', book_id=book._id) }}"><i class="fas fa-arrow-alt-circle-down"></i></a> {{ book.down_votes }} </h4></li>
                                    <li class="list-group-item bg-clr-transparent text-center">
                                        {% if super_user or regular_user == user._id|string()%}
                                        <a class="btn btn-warning btn-action" href="{{ url_for('edit_book', book_id=book._id) }}" role="button">Edit Book</a>
                                        <a class="btn btn-danger btn-action" href="{{ url_for('delete_book', book_id=book._id) }}" role="button">Delete Book</a>
                                        {% endif %}
                                        <a class="btn btn-success btn-action" href="#" role="button">Buy Book</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row justify-content-around bottom-margin">
        <div class="col-10">
            <div class="card bg-clr-dark no-border border-box">
                <div class="card-body bg-clr-transparent fnt-clr-black">
                    <div class="bg-clr-white border-box">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item bg-clr-transparent"><h6>Reviewed By: </h6>{{ reviewer.username }}</li>
                            <li class="list-group-item bg-clr-transparent"><h6>Review Date: </h6>{{ review.date_added }}</li>
                            <li class="list-group-item bg-clr-transparent"><h6>Review: </h6>{{ review.review }}</li>
                            {% if review.review == "Not reviewed yet" %}
                            <li class="list-group-item bg-clr-transparent">
                                <a class="btn btn-info btn-action" href="{{ url_for('check_review_exists', book_id=book._id) }}" role="button">Add Review</a>
                            </li>
                            {% elif super_user or regular_user == reviewer._id|string()%}
                            <li class="list-group-item bg-clr-transparent">
                                <a class="btn btn-warning btn-action" href="{{ url_for('edit_review', book_id=book._id) }}" role="button">Edit Review</a>
                                <a class="btn btn-danger btn-action" href="{{ url_for('delete_review', book_id=book._id) }}" role="button">Delete Review</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row justify-content-around bottom-margin">
        <div class="col-10">
            <div class="card bg-clr-dark no-border border-box">
                <div class="card-body bg-clr-transparent fnt-clr-black">
                    <div class="bg-clr-white border-box">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item bg-clr-transparent"><h6>Comments: </h6></li>
                            <li class="list-group-item bg-clr-transparent">
                                <a class="btn btn-info btn-action" href="{{ url_for('add_comment', book_id=book._id) }}" role="button">Add Comment</a>
                            </li>
                            {% for comment in comments %}
                                {% if comment.book_id == book._id|string() %}
                                    {% for commenter in commenters %}
                                        {% if comment.user_id == commenter._id|string() %}
                                            <li class="list-group-item bg-clr-transparent">
                                               <div class="row">
                                                   <div class="col-12 col-md-7 col-lg-10">
                                                        <p><em>{{commenter.username }}</em> - "{{ comment.comment }}"</p>
                                                    </div>
                                                    {% if super_user or regular_user == commenter._id|string()%}
                                                    <div class="col-12 col-md-2 col-lg-2">
                                                        <a class="btn btn-warning btn-sm" href="{{ url_for('edit_comment', comment_id=comment._id) }}" role="button">Edit</a>
                                                        <a class="btn btn-danger btn-sm" href="{{ url_for('delete_comment', comment_id=comment._id) }}" role="button">Delete</a>
                                                    </div>
                                                    {% endif %}
                                                </div>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
