{% extends "base.html" %} {% block content %}
<section class="container-fluid"> 
<div class="row justify-content-around bottom-margin">
    <div class="col-10">
        <h1 class="fnt-clr-red">Books</h1>
    </div>
</div>

<div class="row justify-content-around">
    <div class="col-10">
        <div class="row align-items-top justify-content-around">
            {% for book_id, book_detail in books.items() %}
            <div class="col-12 col-md-6 col-lg-4 bottom-margin">
                <a class="no-text-decor" href="{{ url_for('get_book', book_id=books[book_id]['_id']) }}">
                    <div class="card bg-clr-transparent no-border">
                        <img src="{{ books[book_id]['cover_url'] }}" class="crd-img" alt="Image for {{ books[book_id]['title'].title() }}"/>
                        <h3 class="card-header bg-clr-dark-red">{{ books[book_id]["title"] }}</h3>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item bg-clr-white"><h6>Author:</h6><h4> {{ books[book_id]["author_fname"].title() }} {{ books[book_id]["author_lname"].title() }}</h4></li>
                            <li class="list-group-item bg-clr-white"><h6>Category:</h6><h4> {{ books[book_id]["category_name"].title() }}</h4></li>
                            <li class="list-group-item bg-clr-white"><h6>Votes:</h6><h4> <i class="fas fa-arrow-alt-circle-up"></i> {{ books[book_id]["up_votes"] }} | <i class="fas fa-arrow-alt-circle-down"></i> {{ books[book_id]["down_votes"] }} </h4></li>
                            <li class="list-group-item bg-clr-white"><h6>Date Added:</h6> <h4> {{ books[book_id]["date_added"] }}</h4>
                        </ul>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</section>
{% endblock %}
