{% extends "base.html" %} {% block content %}
<div class="row justify-content-around">
    <div class="col-10">
        <h1>Edit Category</h1>
        <p>This is the edit category page</p>
    </div>
</div>

<div class="row justify-content-around">
    <div class="col-10">
        <form action="{{ url_for('update_category', category_id=category._id) }}" method="POST">
            <legend>Edit a category</legend>
            <div class="form-group">
                <label class="col-form-label" for="category_name">Category:</label>
                <input type="text" class="form-control" placeholder="Enter the category name..." name="category_name" id="category_name" value="{{ category.category_name }}">
            </div>
            
            <button type="submit" class="btn btn-primary">Submit Change</button>
        </form>
    </div>
</div>

<div class="row justify-content-around">
    <div class="col-10">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates vitae aliquid, impedit dignissimos facere voluptate. Omnis vitae, quaerat libero blanditiis culpa cumque quas consequuntur ad soluta. Tempora obcaecati, ex incidunt a reiciendis
            expedita eaque id facere molestiae nesciunt architecto commodi maiores quam. Earum a libero officiis natus temporibus blanditiis ut, dolores distinctio esse et eligendi corporis eos iste. Perspiciatis itaque, vero maxime fugit excepturi perferendis
            nam obcaecati, possimus cum. Cumque ipsum laudantium unde possimus animi. Dolorum excepturi, doloremque provident. Quos, error provident saepe ducimus dolores quibusdam quo cupiditate magnam quod eius, tempora vel quas beatae nisi amet voluptas
            ratione, deleniti officia debitis, et. Dolore et perferendis quas praesentium doloribus velit reprehenderit voluptatem laudantium atque illo! Sunt voluptas repellat at impedit delectus nostrum soluta magnam sequi. Iste ab dicta porro sequi
            nostrum assumenda aperiam dolor quas mollitia enim dolores molestiae asperiores doloremque labore explicabo, nisi hic repudiandae itaque. Voluptas, asperiores officiis sint doloribus commodi, rerum tenetur labore architecto perspiciatis impedit
            blanditiis consequatur ullam, veritatis nisi necessitatibus aliquam deserunt quam ducimus, at tempora deleniti saepe porro cumque! Architecto neque officiis modi dolor deserunt dignissimos, praesentium voluptas, nulla ducimus odio a! Inventore
            blanditiis optio ea ratione a cum maiores aliquam vel nobis neque?</p>
    </div>
</div>
{% endblock %}
