{% extends "base.html" %} {% block content %}
<section class="container-fluid"> 
    <div class="row justify-content-around">
        <div class="col-10">
            <h1 class="section-headings fnt-clr-red">Edit Review</h1>
        </div>
    </div>
    
    <!-- Code adapted from Corey Shafer's tutorial found at
    https://www.youtube.com/watch?v=UIJKdCIEXUQ&list=PL-osiE80TeTs4UjLw5MM6OjgkjFeUxCYH&index=3-->
    <div class="row justify-content-around">
        <div class="col-10 bottom-margin bg-clr-darkest border-box">
            <form action="{{ url_for('edit_review', book_id=book_id) }}" method="POST"> 
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend>Edit the review for the book</legend>
                    <div class="form-group">
                        {{ form.review.label(class="col-form-label") }}
                        {% if form.review.errors %}
                            {{ form.review(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.review.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.review(class="form-control", rows="10", placeholder=review.review) }}
                        {% endif %}
                    </div>
                </fieldset>
                <div class="form-group">
                    <button type="submit" class="btn btn-warning btn-action">Update Review</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}
