{% extends "base.html" %} {% block content %}
<!-- Section for callout to login or register -->
<section class="container-fluid">
    <div class="row justify-content-around">
        <div class="jumbotron col-11 col-md-10 col-lg-8 bg-clr-blue border-box">
            <h3 class="text-center jumbotron-heading fnt-clr-white">Welcome to</h3>
            <h1 class="text-center jumbotron-heading fnt-clr-red">Ultimate Book Review</h1>
            <p class="text-center jumbotron-text fnt-clr-white">UBR is a community-contributed book review site.</p>
            <p class="text-center jumbotron-text fnt-clr-white"><em>Just follow the links to view reviews of books!!!</em></p>
        </div>
    </div>

    <div class="row justify-content-around">
        <div class="col-11 col-md-10 col-lg-8 text-center">
            <h1 class="section-headings fnt-clr-red">Search Books</h1>
        </div>
    </div>
    <div class="row justify-content-around">
        <div class="col-11 col-md-10 col-lg-8 text-center bottom-margin">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <a class="dropdown-item" href="{{ url_for('get_books', category_id='') }}">All Books</a> 
                        {% for category in categories %}
                            <a class="dropdown-item" href="{{ url_for('get_books', category_id=category._id) }}">{{ category.category_name.title() }}</a> 
                        {% endfor %}
                    </div>
                </div>
                <button type="button" class="btn btn-primary">Category...</button>
            </div>
        </div>
    </div>
</section>
{% endblock %}
