{% extends "base.html" %} {% block content %}
<!-- Section for callout to login or register -->
<section class="container-fluid"> 
    <div class="row justify-content-around">
        <div class="jumbotron col-11 col-md-10 col-lg-8">
            <h3 class="text-center jumbotron-heading">Welcome to</h3>
            <h1 class="text-center jumbotron-heading">Ultimate Book Review</h1>
            <p class="text-center jumbotron-text">UBR is a community-contributed book review site.</p>
            <p class="text-center jumbotron-text"><em>Just follow the links to view reviews of books!!!</em></p>
        </div>
    </div>

    <div class="row justify-content-around">
        <div class="col-11 col-md-10 col-lg-8">
            <h1 class="fnt-clr-red">Search Books</h1>
        </div>
    </div>
    <div class="row justify-content-around">
        <div class="col-11 col-md-10 col-lg-8">
            <form action="{{ url_for('get_books', category_id=category._id) }}" method="POST">
                <div class="form-group">
                    <label class="col-form-label" for="category">Category:</label>
                    <select class="form-control" name="category_id" id="category">
                        <option value="" disabled selected>Choose a category...</option>
                        {% for category in categories %}
                            <option value="{{ category._id }}">{{ category.category_name.title() }}</option>
                        {% endfor %}
                    </select>
                </div>
                
                <button type="submit" class="btn btn-primary">Search Books</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}
