{% extends "base.html" %} {% block content %}
<section class="container-fluid"> 
    <div class="row justify-content-around">
        <div class="col-10">
            <h1 class="section-headings fnt-clr-red">Users</h1>
        </div>
    </div>
    
    <div class="row justify-content-around">
        <div class="col-10">
            <div class="row align-items-top justify-content-around">
                {% if user %}
                <div class="col-12 col-md-6 col-lg-4 bottom-margin">
                    <a class="no-text-decor" href="{{ url_for('get_users') }}">
                        <div class="card h-100 bg-clr-dark no-border border-box">
                            <div class="card-body bg-clr-transparent fnt-clr-black">
                                <div class="bg-clr-white border-box">
                                    <ul class="list-group list-group-flush bg-clr-transparent">
                                        <li class="list-group-item bg-clr-blue fnt-clr-white"><h3>{{ user.username }}</h3></li>
                                        <li class="list-group-item bg-clr-transparen text-center">
                                            <a class="btn btn-warning btn-action" href="{{ url_for('edit_user', user_id=user._id) }}">Edit User</a>
                                            <a class="btn btn-danger btn-action" href="{{ url_for('delete_user', user_id=user._id) }}">Delete User</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% elif users %}
                    {% for user in users %}
                    <div class="col-12 col-md-6 col-lg-4 bottom-margin">
                        <a class="no-text-decor" href="{{ url_for('get_users') }}">
                            <div class="card h-100 bg-clr-dark no-border border-box">
                                <div class="card-body bg-clr-transparent">
                                    <div class="bg-clr-white border-box">
                                        <ul class="list-group list-group-flush bg-clr-transparent">
                                            <li class="list-group-item bg-clr-blue fnt-clr-white"><h3>{{ user.username }}</h3></li>
                                            <li class="list-group-item bg-clr-transparent text-center">
                                                {% if super_user == user._id|string() %}
                                                <a class="btn btn-warning btn-action" href="{{ url_for('edit_user', user_id=user._id) }}">Edit User</a>
                                                {% endif %}
                                                {% if super_user != user._id|string() %}
                                                <a class="btn btn-danger btn-action" href="{{ url_for('delete_user', user_id=user._id) }}">Delete User</a>
                                                {% endif %}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
